.accessDenied-enter {
    opacity: 0;
  }
  
  .accessDenied-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  
  .accessDenied-exit {
    opacity: 1;
  }
  
  .accessDenied-exit-active {
    opacity: 0;
    transition: opacity 500ms;
  }
  
  .accessDenied-container {
    /* Add your custom styles for the container */
  }
  